@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

@font-face {
  font-family: 'Pixel';
  src: url("font/Pixel-LCD-7.woff") format('woff');
}

#root{
  height: 100%;
  width: 100%;
}

html, body, a, h1, h2, h3, h4, h5, h6, p, span, input, button {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.ReactModalPortal{
  z-index: 5;
  position: absolute;
}

@media (max-width: 700px) {
  .atom-modal{
    max-width: 90vw;
  }

  .atom-input {
    max-width: calc(100% - 20px);
  }
}