html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
}

.App {
  flex-flow: column;
  height: 100%;
}

header {
  border-bottom: 2px solid black;
  margin: 10px 10%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  margin: 10px 10%;
}


@font-face {
  font-family: 'Pixel';
  src: url("font/Pixel-LCD-7.woff") format('woff');
}

*:focus {
  outline: #f00 solid 1px;
}


.pallet-suggestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pallet-command {
  text-align: left;
}

a, h1, h2, h3, h4, h5, h6, p, span, input, button {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pixel';
  font-size: 1.5em;
}