@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
}

.App {
  flex-flow: column;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  margin: 10px 10%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


@font-face {
  font-family: 'Pixel';
  src: url("font/Pixel-LCD-7.woff") format('woff');
}

*:focus {
  outline: none;
}


.pallet-suggestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pallet-command {
  text-align: left;
}

a, h1, h2, h3, h4, h5, h6, p, span, input, button {
  margin: 0;
  padding: 0;
}

h1 {
  /* font-family: 'Pixel'; */
  font-size: 1.5em;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

.errorAnimation {
  animation: horizontal-shaking 0.2s;
  animation-iteration-count: 2;
  border-color: red !important;
  outline: 2px solid red !important;
}